# Importing all the Required Libraries

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Importing the Dataset

In [2]:
file_encoding = 'cp1252'
courses = pd.read_csv("courses_prod_data.csv", encoding=file_encoding)
courses.head()

,course_id,course_name,course_type_label,course_category_name,description,price_inr,rating,learners_count
0,14,Comprehensive Java Course,selfpaced,Programming & Frameworks,This is self-paced online training designed on...,15295,5.0,17379.0
1,23,Business Analytics with R,live,Data Science,Data Analytics with R training will help you g...,19995,5.0,25110.0
2,31,Machine Learning with Mahout,selfpaced,Artificial Intelligence,,8899,5.0,9120.0
3,44,Java/J2EE and SOA,live,Programming & Frameworks,Java certification training by is designed to...,19995,4.0,56850.0
4,46,Pentaho BI,selfpaced,BI and Visualization,,8899,4.0,3737.0

In [3]:
courses.shape

(156, 8)

In [4]:
type(courses)

pandas.core.frame.DataFrame

In [5]:
courses.describe()

         course_id      price_inr      rating  learners_count
count   156.000000     156.000000  155.000000      155.000000
mean    829.134615   29269.897436    4.948387    12126.638710
std     526.577275   46230.970613    0.221961    22775.461856
min      14.000000    4999.000000    4.000000        1.000000
25%     434.500000    8799.000000    5.000000     1663.500000
50%     796.500000   17795.000000    5.000000     5031.000000
75%    1335.000000   21245.000000    5.000000    10619.500000
max    1804.000000  275500.000000    5.000000   167197.000000

In [6]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   course_id             156 non-null    int64
 1   course_name           156 non-null    object
 2   course_type_label     156 non-null    object
 3   course_category_name  153 non-null    object
 4   description           153 non-null    object
 5   price_inr             156 non-null    int64
 6   rating                155 non-null    float64
 7   learners_count        155 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 9.9+ KB

In [7]:
courses.isna().sum()

course_id               0
course_name             0
course_type_label       0
course_category_name    3
description             3
price_inr               0
rating                  1
learners_count          1
dtype: int64

In [8]:
courses2 = courses
courses2

,course_id,course_name,course_type_label,course_category_name,description,price_inr,rating,learners_count
0,14,Comprehensive Java Course,selfpaced,Programming & Frameworks,This is self-paced online training designed on...,15295,5.0,17379.0
1,23,Business Analytics with R,live,Data Science,Data Analytics with R training will help you g...,19995,5.0,25110.0
2,31,Machine Learning with Mahout,selfpaced,Artificial Intelligence,,8899,5.0,9120.0
3,44,Java/J2EE and SOA,live,Programming & Frameworks,Java certification training by is designed to...,19995,4.0,56850.0
4,46,Pentaho BI,selfpaced,BI and Visualization,,8899,4.0,3737.0
...,...,...,...,...,...,...,...,...
151,1690,Microservices Architecture Training,live,Cloud Computing,Microservices course is designed with the help...,17795,5.0,10743.0
152,1696,Salesforce Masters Program,master,Cloud Computing,Salesforce CRM Certification Masters Program i...,39999,5.0,454.0
153,1751,Microsoft Azure AZ 303,live,Cloud Computing,Azure certification training will help you pre...,22995,5.0,12611.0
154,1752,Data Science and ML Internship,internship,Data Science,NaN,21999,5.0,1.0
155,1804,Cyber Security Internship Program,internship,Cyber Security,NaN,21999,5.0,NaN

In [9]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# filling categorical values with "missing" and numerical values with "Mean"
num_imputer = SimpleImputer(strategy="mean")
course_imputer = SimpleImputer(strategy="constant", fill_value="missing")

# defining the column
num_features = ["rating","learners_count"]
course_features = ["course_category_name","description"]

# creating an Imputer
imputer = ColumnTransformer([
    ("num_imputer",num_imputer, num_features),
    ("course_imputer",course_imputer, course_features)
], remainder="passthrough")

# transforming the data
filled_u = imputer.fit_transform(courses2)
filled_u

array([[5.0, 17379.0, 'Programming & Frameworks', ...,
        'Comprehensive Java Course', 'selfpaced', 15295],
       [5.0, 25110.0, 'Data Science', ..., 'Business Analytics with R',
        'live', 19995],
       [5.0, 9120.0, 'Artificial Intelligence', ...,
        'Machine Learning with Mahout', 'selfpaced', 8899],
       ...,
       [5.0, 12611.0, 'Cloud Computing', ..., 'Microsoft Azure AZ 303',
        'live', 22995],
       [5.0, 1.0, 'Data Science', ..., 'Data Science and ML Internship',
        'internship', 21999],
       [5.0, 12126.63870967742, 'Cyber Security', ...,
        'Cyber Security Internship Program', 'internship', 21999]],
      dtype=object)

In [10]:
courses_filled = pd.DataFrame(filled_u,columns=["rating","learners_count","course_category_name","description","course_id",
                                               "course_name","course_type_label","price_inr"])
courses_filled

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr
0,5,17379,Programming & Frameworks,This is self-paced online training designed on...,14,Comprehensive Java Course,selfpaced,15295
1,5,25110,Data Science,Data Analytics with R training will help you g...,23,Business Analytics with R,live,19995
2,5,9120,Artificial Intelligence,,31,Machine Learning with Mahout,selfpaced,8899
3,4,56850,Programming & Frameworks,Java certification training by is designed to...,44,Java/J2EE and SOA,live,19995
4,4,3737,BI and Visualization,,46,Pentaho BI,selfpaced,8899
...,...,...,...,...,...,...,...,...
151,5,10743,Cloud Computing,Microservices course is designed with the help...,1690,Microservices Architecture Training,live,17795
152,5,454,Cloud Computing,Salesforce CRM Certification Masters Program i...,1696,Salesforce Masters Program,master,39999
153,5,12611,Cloud Computing,Azure certification training will help you pre...,1751,Microsoft Azure AZ 303,live,22995
154,5,1,Data Science,missing,1752,Data Science and ML Internship,internship,21999
155,5,12126.6,Cyber Security,missing,1804,Cyber Security Internship Program,internship,21999

In [11]:
courses_filled.isna().sum()

rating                  0
learners_count          0
course_category_name    0
description             0
course_id               0
course_name             0
course_type_label       0
price_inr               0
dtype: int64

In [12]:
from sklearn.feature_extraction import text
stop = text.ENGLISH_STOP_WORDS
len(stop)

courses_filled['description'] = courses_filled['description'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
courses_filled1 = courses_filled
courses_filled1

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr
0,5,17379,Programming & Frameworks,This self-paced online training designed popul...,14,Comprehensive Java Course,selfpaced,15295
1,5,25110,Data Science,Data Analytics R training help gain expertise ...,23,Business Analytics with R,live,19995
2,5,9120,Artificial Intelligence,,31,Machine Learning with Mahout,selfpaced,8899
3,4,56850,Programming & Frameworks,Java certification training designed meet indu...,44,Java/J2EE and SOA,live,19995
4,4,3737,BI and Visualization,,46,Pentaho BI,selfpaced,8899
...,...,...,...,...,...,...,...,...
151,5,10743,Cloud Computing,Microservices course designed help industry ex...,1690,Microservices Architecture Training,live,17795
152,5,454,Cloud Computing,Salesforce CRM Certification Masters Program d...,1696,Salesforce Masters Program,master,39999
153,5,12611,Cloud Computing,Azure certification training help prepare new ...,1751,Microsoft Azure AZ 303,live,22995
154,5,1,Data Science,missing,1752,Data Science and ML Internship,internship,21999
155,5,12126.6,Cyber Security,missing,1804,Cyber Security Internship Program,internship,21999

In [13]:
courses_filled1.to_csv("file_new_main_m.csv",index=False)

In [14]:
def absolute_maximum_scale(series):
    return series / series.abs().max()
for col in courses_filled.columns:
    courses_filled1[['learners_count','price_inr']] = absolute_maximum_scale(courses_filled1[['learners_count','price_inr']])

courses_filled1

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr
0,5,0.103943,Programming & Frameworks,This self-paced online training designed popul...,14,Comprehensive Java Course,selfpaced,0.0555172
1,5,0.150182,Data Science,Data Analytics R training help gain expertise ...,23,Business Analytics with R,live,0.0725771
2,5,0.0545464,Artificial Intelligence,,31,Machine Learning with Mahout,selfpaced,0.0323013
3,4,0.340018,Programming & Frameworks,Java certification training designed meet indu...,44,Java/J2EE and SOA,live,0.0725771
4,4,0.0223509,BI and Visualization,,46,Pentaho BI,selfpaced,0.0323013
...,...,...,...,...,...,...,...,...
151,5,0.0642535,Cloud Computing,Microservices course designed help industry ex...,1690,Microservices Architecture Training,live,0.0645917
152,5,0.00271536,Cloud Computing,Salesforce CRM Certification Masters Program d...,1696,Salesforce Masters Program,master,0.145187
153,5,0.075426,Cloud Computing,Azure certification training help prepare new ...,1751,Microsoft Azure AZ 303,live,0.0834664
154,5,5.98097e-06,Data Science,missing,1752,Data Science and ML Internship,internship,0.0798512
155,5,0.072529,Cyber Security,missing,1804,Cyber Security Internship Program,internship,0.0798512

In [15]:
courses_filled1.to_csv("file_new_main1.csv",index=False)

In [16]:
Final = pd.read_csv("file_new_main1.csv")
Final

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr
0,5.0,0.103943,Programming & Frameworks,This self-paced online training designed popul...,14,Comprehensive Java Course,selfpaced,0.055517
1,5.0,0.150182,Data Science,Data Analytics R training help gain expertise ...,23,Business Analytics with R,live,0.072577
2,5.0,0.054546,Artificial Intelligence,NaN,31,Machine Learning with Mahout,selfpaced,0.032301
3,4.0,0.340018,Programming & Frameworks,Java certification training designed meet indu...,44,Java/J2EE and SOA,live,0.072577
4,4.0,0.022351,BI and Visualization,NaN,46,Pentaho BI,selfpaced,0.032301
...,...,...,...,...,...,...,...,...
151,5.0,0.064254,Cloud Computing,Microservices course designed help industry ex...,1690,Microservices Architecture Training,live,0.064592
152,5.0,0.002715,Cloud Computing,Salesforce CRM Certification Masters Program d...,1696,Salesforce Masters Program,master,0.145187
153,5.0,0.075426,Cloud Computing,Azure certification training help prepare new ...,1751,Microsoft Azure AZ 303,live,0.083466
154,5.0,0.000006,Data Science,missing,1752,Data Science and ML Internship,internship,0.079851
155,5.0,0.072529,Cyber Security,missing,1804,Cyber Security Internship Program,internship,0.079851

In [17]:
Final_str = courses_filled1.astype(str)
Final_str

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr
0,5.0,0.10394325257032123,Programming & Frameworks,This self-paced online training designed popul...,14,Comprehensive Java Course,selfpaced,0.05551724137931034
1,5.0,0.15018212049259258,Data Science,Data Analytics R training help gain expertise ...,23,Business Analytics with R,live,0.07257713248638839
2,5.0,0.05454643324940041,Artificial Intelligence,,31,Machine Learning with Mahout,selfpaced,0.03230127041742287
3,4.0,0.3400180625250453,Programming & Frameworks,Java certification training designed meet indu...,44,Java/J2EE and SOA,live,0.07257713248638839
4,4.0,0.02235087950142646,BI and Visualization,,46,Pentaho BI,selfpaced,0.03230127041742287
...,...,...,...,...,...,...,...,...
151,5.0,0.06425354521911278,Cloud Computing,Microservices course designed help industry ex...,1690,Microservices Architecture Training,live,0.06459165154264973
152,5.0,0.0027153597253539237,Cloud Computing,Salesforce CRM Certification Masters Program d...,1696,Salesforce Masters Program,master,0.1451869328493648
153,5.0,0.07542599448554699,Cloud Computing,Azure certification training help prepare new ...,1751,Microsoft Azure AZ 303,live,0.08346642468239564
154,5.0,5.980968558048291e-06,Data Science,missing,1752,Data Science and ML Internship,internship,0.07985117967332124
155,5.0,0.07252904483739193,Cyber Security,missing,1804,Cyber Security Internship Program,internship,0.07985117967332124

In [18]:
Final_str['Summary'] = Final_str[['course_category_name','description','course_type_label','price_inr','rating','learners_count']].apply(lambda x: ' '.join(x), axis=1)
Final_str

,rating,learners_count,course_category_name,description,course_id,course_name,course_type_label,price_inr,Summary
0,5.0,0.10394325257032123,Programming & Frameworks,This self-paced online training designed popul...,14,Comprehensive Java Course,selfpaced,0.05551724137931034,Programming & Frameworks This self-paced onlin...
1,5.0,0.15018212049259258,Data Science,Data Analytics R training help gain expertise ...,23,Business Analytics with R,live,0.07257713248638839,Data Science Data Analytics R training help ga...
2,5.0,0.05454643324940041,Artificial Intelligence,,31,Machine Learning with Mahout,selfpaced,0.03230127041742287,Artificial Intelligence selfpaced 0.032301270...
3,4.0,0.3400180625250453,Programming & Frameworks,Java certification training designed meet indu...,44,Java/J2EE and SOA,live,0.07257713248638839,Programming & Frameworks Java certification tr...
4,4.0,0.02235087950142646,BI and Visualization,,46,Pentaho BI,selfpaced,0.03230127041742287,BI and Visualization selfpaced 0.032301270417...
...,...,...,...,...,...,...,...,...,...
151,5.0,0.06425354521911278,Cloud Computing,Microservices course designed help industry ex...,1690,Microservices Architecture Training,live,0.06459165154264973,Cloud Computing Microservices course designed ...
152,5.0,0.0027153597253539237,Cloud Computing,Salesforce CRM Certification Masters Program d...,1696,Salesforce Masters Program,master,0.1451869328493648,Cloud Computing Salesforce CRM Certification M...
153,5.0,0.07542599448554699,Cloud Computing,Azure certification training help prepare new ...,1751,Microsoft Azure AZ 303,live,0.08346642468239564,Cloud Computing Azure certification training h...
154,5.0,5.980968558048291e-06,Data Science,missing,1752,Data Science and ML Internship,internship,0.07985117967332124,Data Science missing internship 0.079851179673...
155,5.0,0.07252904483739193,Cyber Security,missing,1804,Cyber Security Internship Program,internship,0.07985117967332124,Cyber Security missing internship 0.0798511796...

In [19]:
Final_main = Final_str[['course_id','course_name','Summary']]
Final_main

,course_id,course_name,Summary
0,14,Comprehensive Java Course,Programming & Frameworks This self-paced onlin...
1,23,Business Analytics with R,Data Science Data Analytics R training help ga...
2,31,Machine Learning with Mahout,Artificial Intelligence selfpaced 0.032301270...
3,44,Java/J2EE and SOA,Programming & Frameworks Java certification tr...
4,46,Pentaho BI,BI and Visualization selfpaced 0.032301270417...
...,...,...,...
151,1690,Microservices Architecture Training,Cloud Computing Microservices course designed ...
152,1696,Salesforce Masters Program,Cloud Computing Salesforce CRM Certification M...
153,1751,Microsoft Azure AZ 303,Cloud Computing Azure certification training h...
154,1752,Data Science and ML Internship,Data Science missing internship 0.079851179673...
155,1804,Cyber Security Internship Program,Cyber Security missing internship 0.0798511796...

In [20]:
Final_main.to_csv("final_main_ABS_MAX_SCALED.csv",index=False)

In [21]:
Final_main.head(1)['Summary']

0    Programming & Frameworks This self-paced onlin...
Name: Summary, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

tvf = TfidfVectorizer(min_df=3,max_features=None,strip_accents='unicode', 
                      analyzer='word',token_pattern=r'\w{1,}',ngram_range=(1,3),stop_words='english')
tvf_matrix = tvf.fit_transform(Final_main['Summary'])
tvf_matrix

tvf_matrix.shape

(156, 755)

In [23]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(tvf_matrix, tvf_matrix)

In [24]:
sig[0]

array([0.76214985, 0.76162992, 0.76163494, 0.76190205, 0.76162397,
       0.76162482, 0.76162694, 0.76170531, 0.76162827, 0.76164568,
       0.76178009, 0.76172091, 0.76169627, 0.76163911, 0.76163029,
       0.76163365, 0.76162924, 0.76163695, 0.76162576, 0.76161264,
       0.76162618, 0.76165115, 0.76165522, 0.76161251, 0.76163119,
       0.76169627, 0.76163282, 0.76163936, 0.76165002, 0.76168696,
       0.76161827, 0.76166786, 0.76163357, 0.76164568, 0.76164334,
       0.7616295 , 0.76164409, 0.76164454, 0.76169862, 0.76162061,
       0.76160629, 0.76162042, 0.76165916, 0.76160688, 0.76160164,
       0.76161765, 0.76163456, 0.76162718, 0.7616108 , 0.76162719,
       0.76161293, 0.76160467, 0.76160672, 0.761634  , 0.76161794,
       0.76161619, 0.76165923, 0.76163456, 0.76162718, 0.76163254,
       0.76163384, 0.76160465, 0.76161033, 0.76162571, 0.76163355,
       0.76161739, 0.76169701, 0.76161657, 0.76162679, 0.76164337,
       0.76162718, 0.7616236 , 0.76169862, 0.76160508, 0.76165434,
       0.76163485, 0.76163812, 0.76160935, 0.76163812, 0.76162194,
       0.76160745, 0.76165335, 0.76165056, 0.76163212, 0.76161522,
       0.76162492, 0.7616152 , 0.76165666, 0.7616109 , 0.7616219 ,
       0.76163366, 0.76162324, 0.7616215 , 0.76161378, 0.7616192 ,
       0.76165834, 0.76163515, 0.76162206, 0.7616175 , 0.76161465,
       0.76163558, 0.76161415, 0.76172324, 0.76161792, 0.76163796,
       0.76162219, 0.76162609, 0.76164087, 0.76161262, 0.76170229,
       0.76162283, 0.76161624, 0.76160873, 0.76160726, 0.76160627,
       0.7616166 , 0.76163353, 0.76163441, 0.76162766, 0.76163546,
       0.76163338, 0.76161226, 0.76163713, 0.7616334 , 0.76165516,
       0.76164175, 0.76165358, 0.76161442, 0.76164072, 0.76163107,
       0.76162041, 0.76161497, 0.76161325, 0.76162744, 0.76161639,
       0.76160275, 0.76161171, 0.76167116, 0.76161007, 0.76161295,
       0.76169015, 0.76168816, 0.76162424, 0.76165082, 0.76163648,
       0.76160436, 0.76162802, 0.76161015, 0.76160798, 0.76162507,
       0.76160525, 0.761637  , 0.76161955, 0.76160547, 0.76161821,
       0.76162459])

In [25]:
indices = pd.Series(Final_main.index.values, index=Final_main['course_name']).drop_duplicates()
indices

course_name
Comprehensive Java Course                0
Business Analytics with R                1
Machine Learning with Mahout             2
Java/J2EE and SOA                        3
Pentaho BI                               4
                                      ...
Microservices Architecture Training    151
Salesforce Masters Program             152
Microsoft Azure AZ 303                 153
Data Science and ML Internship         154
Cyber Security Internship Program      155
Length: 156, dtype: int64

In [26]:
indices['DevOps']

127

In [27]:
sig[127]

array([0.76161442, 0.76164776, 0.76161288, 0.76163736, 0.76160637,
       0.76160671, 0.76161964, 0.76163068, 0.76166616, 0.76161781,
       0.76161868, 0.76164484, 0.76161243, 0.76167966, 0.76160506,
       0.76160812, 0.76161026, 0.76161381, 0.76161913, 0.76161238,
       0.76161785, 0.76162033, 0.76166134, 0.76161633, 0.76161116,
       0.76161243, 0.76161191, 0.7616345 , 0.76161717, 0.76161076,
       0.76160782, 0.76161648, 0.76161225, 0.76161781, 0.76161674,
       0.76162163, 0.76169745, 0.76164866, 0.76161284, 0.76169744,
       0.76163106, 0.76162257, 0.76161661, 0.76162458, 0.76162158,
       0.76161957, 0.76161271, 0.76162989, 0.76162475, 0.76164823,
       0.7616575 , 0.76163232, 0.76182322, 0.76161245, 0.76161873,
       0.76163978, 0.76163048, 0.76161271, 0.76160768, 0.76161809,
       0.76174905, 0.76161328, 0.76161772, 0.76171735, 0.76161224,
       0.76161929, 0.76161267, 0.7616263 , 0.7616225 , 0.76164806,
       0.76161983, 0.76162601, 0.76161284, 0.76160715, 0.76180727,
       0.76161735, 0.76167126, 0.76183998, 0.76167126, 0.76170262,
       0.76165483, 0.76169448, 0.76163881, 0.7616543 , 0.76163854,
       0.76166815, 0.76161952, 0.76162762, 0.76167118, 0.76161404,
       0.76163217, 0.76168352, 0.76166505, 0.76170271, 0.7616604 ,
       0.76162667, 0.76163274, 0.76161402, 0.7616958 , 0.76162192,
       0.76162057, 0.76164097, 0.76162096, 0.76161987, 0.76164431,
       0.76165854, 0.76163043, 0.7616509 , 0.76161666, 0.76162828,
       0.76162453, 0.76161439, 0.76165728, 0.76162661, 0.76174969,
       0.76165302, 0.76166115, 0.76164642, 0.76165508, 0.76160771,
       0.76161374, 0.76160356, 0.76161389, 0.76161217, 0.76162217,
       0.76161601, 0.76162144, 0.76214985, 0.76161553, 0.7616111 ,
       0.76175153, 0.7616386 , 0.76163495, 0.76162747, 0.76161949,
       0.76163925, 0.76171875, 0.76162927, 0.76160548, 0.76161761,
       0.76161621, 0.76161935, 0.76162365, 0.76166987, 0.76162069,
       0.7616466 , 0.76165368, 0.76163708, 0.76174342, 0.76172847,
       0.76161665, 0.76165681, 0.76163734, 0.76161385, 0.76161128,
       0.76161582])

In [28]:
list(enumerate(sig[indices['DevOps']]))

[(0, 0.7616144210541198),
 (1, 0.7616477591467004),
 (2, 0.7616128814629468),
 (3, 0.7616373618439052),
 (4, 0.7616063680539497),
 (5, 0.7616067145357487),
 (6, 0.7616196360725844),
 (7, 0.7616306765893323),
 (8, 0.7616661636311827),
 (9, 0.7616178122903642),
 (10, 0.7616186838763305),
 (11, 0.7616448385701011),
 (12, 0.761612425674178),
 (13, 0.7616796576537253),
 (14, 0.7616050634727639),
 (15, 0.7616081240176598),
 (16, 0.7616102640146352),
 (17, 0.7616138064849929),
 (18, 0.76161912588778),
 (19, 0.7616123810486682),
 (20, 0.7616178466910831),
 (21, 0.7616203267150661),
 (22, 0.7616613423804734),
 (23, 0.7616163330840507),
 (24, 0.7616111591353875),
 (25, 0.761612425674178),
 (26, 0.7616119080335464),
 (27, 0.7616344965676074),
 (28, 0.7616171714757587),
 (29, 0.761610759922307),
 (30, 0.7616078198880265),
 (31, 0.7616164786400423),
 (32, 0.7616122541086106),
 (33, 0.7616178122903642),
 (34, 0.7616167388708694),
 (35, 0.761621632631039),
 (36, 0.7616974453081419),
 (37, 0.7616486637635845),
 (38, 0.76161284490838),
 (39, 0.7616974401588944),
 (40, 0.7616310637155833),
 (41, 0.7616225725744499),
 (42, 0.7616166126675002),
 (43, 0.7616245839475734),
 (44, 0.7616215789991192),
 (45, 0.7616195741549705),
 (46, 0.7616127057819617),
 (47, 0.761629885823548),
 (48, 0.7616247535394269),
 (49, 0.7616482343682168),
 (50, 0.7616575003733439),
 (51, 0.7616323167915307),
 (52, 0.7618232196405179),
 (53, 0.761612451288693),
 (54, 0.7616187333763802),
 (55, 0.7616397816412724),
 (56, 0.7616304796695776),
 (57, 0.7616127057819617),
 (58, 0.7616076823863963),
 (59, 0.761618090072739),
 (60, 0.7617490470291746),
 (61, 0.7616132765008224),
 (62, 0.7616177153954052),
 (63, 0.761717348217767),
 (64, 0.761612244311643),
 (65, 0.7616192926022284),
 (66, 0.7616126728015313),
 (67, 0.7616262952020151),
 (68, 0.761622499293535),
 (69, 0.7616480621286257),
 (70, 0.7616198271086869),
 (71, 0.7616260084351997),
 (72, 0.76161284490838),
 (73, 0.7616071458594529),
 (74, 0.7618072718146885),
 (75, 0.7616173456540967),
 (76, 0.7616712568078793),
 (77, 0.7618399800721136),
 (78, 0.7616712568078793),
 (79, 0.761702617483458),
 (80, 0.761654834727395),
 (81, 0.7616944758506361),
 (82, 0.7616388109934016),
 (83, 0.7616543047861039),
 (84, 0.7616385357353312),
 (85, 0.7616681497266908),
 (86, 0.7616195169129272),
 (87, 0.7616276249399498),
 (88, 0.7616711752600949),
 (89, 0.761614044693388),
 (90, 0.7616321656540769),
 (91, 0.7616835161047243),
 (92, 0.7616650460531875),
 (93, 0.7617027093278077),
 (94, 0.7616604043685565),
 (95, 0.7616266736286683),
 (96, 0.7616327369167396),
 (97, 0.7616140230556354),
 (98, 0.7616958011851143),
 (99, 0.7616219189992787),
 (100, 0.7616205717812685),
 (101, 0.7616409672397179),
 (102, 0.7616209593956855),
 (103, 0.7616198653857977),
 (104, 0.7616443122270794),
 (105, 0.7616585444758305),
 (106, 0.7616304286607596),
 (107, 0.7616508979092985),
 (108, 0.7616166557335238),
 (109, 0.761628277440687),
 (110, 0.7616245302145619),
 (111, 0.7616143875135771),
 (112, 0.7616572837217435),
 (113, 0.7616266127307298),
 (114, 0.7617496879230262),
 (115, 0.7616530187571067),
 (116, 0.7616611486859358),
 (117, 0.7616464241138625),
 (118, 0.7616550793357543),
 (119, 0.761607709414317),
 (120, 0.7616137414532972),
 (121, 0.7616035613010784),
 (122, 0.7616138904047659),
 (123, 0.7616121739640205),
 (124, 0.7616221682152012),
 (125, 0.761616010365717),
 (126, 0.7616214417462),
 (127, 0.7621498524869474),
 (128, 0.7616155344772044),
 (129, 0.7616111043379893),
 (130, 0.761751534307968),
 (131, 0.7616386035354672),
 (132, 0.7616349451672013),
 (133, 0.7616274741906937),
 (134, 0.7616194871230444),
 (135, 0.7616392547727576),
 (136, 0.7617187454984939),
 (137, 0.7616292691205081),
 (138, 0.7616054842410638),
 (139, 0.7616176125177695),
 (140, 0.7616162145552081),
 (141, 0.7616193498551406),
 (142, 0.7616236503587954),
 (143, 0.7616698745785027),
 (144, 0.7616206863748506),
 (145, 0.7616465969101995),
 (146, 0.7616536763645415),
 (147, 0.7616370773161899),
 (148, 0.7617434246984545),
 (149, 0.7617284701554647),
 (150, 0.7616166465034444),
 (151, 0.7616568089002789),
 (152, 0.7616373444093127),
 (153, 0.7616138546970379),
 (154, 0.7616112782969304),
 (155, 0.761615822841464)]

In [29]:
sorted(list(enumerate(sig[indices['DevOps']])),key=lambda x:x[1], reverse=True)

[(127, 0.7621498524869474),
 (77, 0.7618399800721136),
 (52, 0.7618232196405179),
 (74, 0.7618072718146885),
 (130, 0.761751534307968),
 (114, 0.7617496879230262),
 (60, 0.7617490470291746),
 (148, 0.7617434246984545),
 (149, 0.7617284701554647),
 (136, 0.7617187454984939),
 (63, 0.761717348217767),
 (93, 0.7617027093278077),
 (79, 0.761702617483458),
 (36, 0.7616974453081419),
 (39, 0.7616974401588944),
 (98, 0.7616958011851143),
 (81, 0.7616944758506361),
 (91, 0.7616835161047243),
 (13, 0.7616796576537253),
 (76, 0.7616712568078793),
 (78, 0.7616712568078793),
 (88, 0.7616711752600949),
 (143, 0.7616698745785027),
 (85, 0.7616681497266908),
 (8, 0.7616661636311827),
 (92, 0.7616650460531875),
 (22, 0.7616613423804734),
 (116, 0.7616611486859358),
 (94, 0.7616604043685565),
 (105, 0.7616585444758305),
 (50, 0.7616575003733439),
 (112, 0.7616572837217435),
 (151, 0.7616568089002789),
 (118, 0.7616550793357543),
 (80, 0.761654834727395),
 (83, 0.7616543047861039),
 (146, 0.7616536763645415),
 (115, 0.7616530187571067),
 (107, 0.7616508979092985),
 (37, 0.7616486637635845),
 (49, 0.7616482343682168),
 (69, 0.7616480621286257),
 (1, 0.7616477591467004),
 (145, 0.7616465969101995),
 (117, 0.7616464241138625),
 (11, 0.7616448385701011),
 (104, 0.7616443122270794),
 (101, 0.7616409672397179),
 (55, 0.7616397816412724),
 (135, 0.7616392547727576),
 (82, 0.7616388109934016),
 (131, 0.7616386035354672),
 (84, 0.7616385357353312),
 (3, 0.7616373618439052),
 (152, 0.7616373444093127),
 (147, 0.7616370773161899),
 (132, 0.7616349451672013),
 (27, 0.7616344965676074),
 (96, 0.7616327369167396),
 (51, 0.7616323167915307),
 (90, 0.7616321656540769),
 (40, 0.7616310637155833),
 (7, 0.7616306765893323),
 (56, 0.7616304796695776),
 (106, 0.7616304286607596),
 (47, 0.761629885823548),
 (137, 0.7616292691205081),
 (109, 0.761628277440687),
 (87, 0.7616276249399498),
 (133, 0.7616274741906937),
 (95, 0.7616266736286683),
 (113, 0.7616266127307298),
 (67, 0.7616262952020151),
 (71, 0.7616260084351997),
 (48, 0.7616247535394269),
 (43, 0.7616245839475734),
 (110, 0.7616245302145619),
 (142, 0.7616236503587954),
 (41, 0.7616225725744499),
 (68, 0.761622499293535),
 (124, 0.7616221682152012),
 (99, 0.7616219189992787),
 (35, 0.761621632631039),
 (44, 0.7616215789991192),
 (126, 0.7616214417462),
 (102, 0.7616209593956855),
 (144, 0.7616206863748506),
 (100, 0.7616205717812685),
 (21, 0.7616203267150661),
 (103, 0.7616198653857977),
 (70, 0.7616198271086869),
 (6, 0.7616196360725844),
 (45, 0.7616195741549705),
 (86, 0.7616195169129272),
 (134, 0.7616194871230444),
 (141, 0.7616193498551406),
 (65, 0.7616192926022284),
 (18, 0.76161912588778),
 (54, 0.7616187333763802),
 (10, 0.7616186838763305),
 (59, 0.761618090072739),
 (20, 0.7616178466910831),
 (9, 0.7616178122903642),
 (33, 0.7616178122903642),
 (62, 0.7616177153954052),
 (139, 0.7616176125177695),
 (75, 0.7616173456540967),
 (28, 0.7616171714757587),
 (34, 0.7616167388708694),
 (108, 0.7616166557335238),
 (150, 0.7616166465034444),
 (42, 0.7616166126675002),
 (31, 0.7616164786400423),
 (23, 0.7616163330840507),
 (140, 0.7616162145552081),
 (125, 0.761616010365717),
 (155, 0.761615822841464),
 (128, 0.7616155344772044),
 (0, 0.7616144210541198),
 (111, 0.7616143875135771),
 (89, 0.761614044693388),
 (97, 0.7616140230556354),
 (122, 0.7616138904047659),
 (153, 0.7616138546970379),
 (17, 0.7616138064849929),
 (120, 0.7616137414532972),
 (61, 0.7616132765008224),
 (2, 0.7616128814629468),
 (38, 0.76161284490838),
 (72, 0.76161284490838),
 (46, 0.7616127057819617),
 (57, 0.7616127057819617),
 (66, 0.7616126728015313),
 (53, 0.761612451288693),
 (12, 0.761612425674178),
 (25, 0.761612425674178),
 (19, 0.7616123810486682),
 (32, 0.7616122541086106),
 (64, 0.761612244311643),
 (123, 0.7616121739640205),
 (26, 0.7616119080335464),
 (154, 0.7616112782969304),
 (24, 0.7616111591353875),
 (129, 0.7616111043379893),
 (29, 0.761610759922307),
 (16, 0.7616102640146352),
 (15, 0.7616081240176598),
 (30, 0.7616078198880265),
 (119, 0.761607709414317),
 (58, 0.7616076823863963),
 (73, 0.7616071458594529),
 (5, 0.7616067145357487),
 (4, 0.7616063680539497),
 (138, 0.7616054842410638),
 (14, 0.7616050634727639),
 (121, 0.7616035613010784)]

In [30]:
def give_rec(title, sig=sig):
    idx = indices[title]
    sig_scores = list(enumerate(sig[idx]))
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    sig_scores = sig_scores[1:11]
    course_indices = [i[0] for i in sig_scores]
    return Final_main['course_name'].iloc[course_indices], sig_scores

In [31]:
give_rec('DevOps')

(77     Continuous Testing in DevOps Training
 52           DevOps Engineer Masters Program
 74                                AWS DevOps
 130                               PGP DevOps
 114          Microsoft Azure DevOps Solution
 60        Ethereum Development Certification
 148                    Ansible Certification
 149       Continous Integration with Jenkins
 136                               Git Course
 63                              Microsoft BI
 Name: course_name, dtype: object,
 [(77, 0.7618399800721136),
  (52, 0.7618232196405179),
  (74, 0.7618072718146885),
  (130, 0.761751534307968),
  (114, 0.7617496879230262),
  (60, 0.7617490470291746),
  (148, 0.7617434246984545),
  (149, 0.7617284701554647),
  (136, 0.7617187454984939),
  (63, 0.761717348217767)])

In [32]:
give_rec('Microservices Architecture Training')

(41       AWS SysOps Administrator Training and Certifica
 47                                             Cassandra
 109                    Django Training and Certification
 71                             NLP using Python Training
 137                             Microsoft .NET Framework
 40                       Cloud Architect Masters Program
 116    Google Cloud Platform Fundamentals Certificati...
 49                 Big Data For ETL and Data Warehousing
 7                                       Spring Framework
 79                       Salesforce Platform Developer I
 Name: course_name, dtype: object,
 [(41, 0.7618669070596277),
  (47, 0.7618428570263835),
  (109, 0.7618316658595834),
  (71, 0.7618158774022757),
  (137, 0.7617890621982338),
  (40, 0.7617365722872571),
  (116, 0.761735972076834),
  (49, 0.7617257747855088),
  (7, 0.7617239466920405),
  (79, 0.7617201437117442)])

In [33]:
title = input('Enter the Course Name : ')
give_rec(title)

Enter the Course Name : Big Data For ETL and Data Warehousing

(68     Python Spark Certification Training using PySpark
 85        Blockchain and Ethereum Certification Training
 89                                Apache Spark and Scala
 93                                            Kubernetes
 88                                   Big Data and Hadoop
 146                       Snowflake Certification Course
 19                  Mastering in Data WareHousing and BI
 39             Informatica PowerCenter 9.X Dev and Admin
 62                    Big Data Architect Masters Program
 151                  Microservices Architecture Training
 Name: course_name, dtype: object,
 [(68, 0.7620105320071038),
  (85, 0.7618954235643389),
  (89, 0.7618655740536923),
  (93, 0.7617494854730489),
  (88, 0.7617478167701184),
  (146, 0.7617475085973476),
  (19, 0.7617439360629936),
  (39, 0.7617342269433065),
  (62, 0.7617270143880942),
  (151, 0.7617257747855088)])

In [34]:
title = input('Enter the Course Name : ')
give_rec(title)

Enter the Course Name : Informatica PowerCenter 9.X Dev and Admin

(60        Ethereum Development Certification
 5                           Data Warehousing
 19      Mastering in Data WareHousing and BI
 63                              Microsoft BI
 79           Salesforce Platform Developer I
 146           Snowflake Certification Course
 37                              Data Science
 74                                AWS DevOps
 49     Big Data For ETL and Data Warehousing
 1                  Business Analytics with R
 Name: course_name, dtype: object,
 [(60, 0.7619647944678478),
  (5, 0.7619003086981522),
  (19, 0.7618993491776574),
  (63, 0.7618889660860451),
  (79, 0.7618537237874499),
  (146, 0.7618461359439699),
  (37, 0.7617517527350899),
  (74, 0.7617500124836218),
  (49, 0.7617342269433065),
  (1, 0.7617300971948315)])

In [35]:
title = input('Enter the Course Name : ')
give_rec(title)

Enter the Course Name : Data Warehousing

(39     Informatica PowerCenter 9.X Dev and Admin
 19          Mastering in Data WareHousing and BI
 146               Snowflake Certification Course
 29              Mastering Magento for E-Commerce
 58            Advanced Predictive Modelling in R
 18                          Six Sigma Green Belt
 4                                     Pentaho BI
 14                             Comprehensive Pig
 23                               AWS Development
 119                       Reinforcement Learning
 Name: course_name, dtype: object,
 [(39, 0.7619003086981522),
  (19, 0.7618558241152439),
  (146, 0.7618250638863227),
  (29, 0.7617835975537597),
  (58, 0.7617827274292168),
  (18, 0.7617628552132792),
  (4, 0.7617533333192029),
  (14, 0.7617462266002599),
  (23, 0.7617438490433693),
  (119, 0.7617194559349899)])

# Second Memory Based Model - Bag of Words

### Using our Main DataFrame

In [36]:
Final_main

,course_id,course_name,Summary
0,14,Comprehensive Java Course,Programming & Frameworks This self-paced onlin...
1,23,Business Analytics with R,Data Science Data Analytics R training help ga...
2,31,Machine Learning with Mahout,Artificial Intelligence selfpaced 0.032301270...
3,44,Java/J2EE and SOA,Programming & Frameworks Java certification tr...
4,46,Pentaho BI,BI and Visualization selfpaced 0.032301270417...
...,...,...,...
151,1690,Microservices Architecture Training,Cloud Computing Microservices course designed ...
152,1696,Salesforce Masters Program,Cloud Computing Salesforce CRM Certification M...
153,1751,Microsoft Azure AZ 303,Cloud Computing Azure certification training h...
154,1752,Data Science and ML Internship,Data Science missing internship 0.079851179673...
155,1804,Cyber Security Internship Program,Cyber Security missing internship 0.0798511796...

In [37]:
Final_main['Summary'] = Final_main['Summary'].apply(lambda x:x.lower())
Final_main

<ipython-input-37-5cbd74daae69>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_main['Summary'] = Final_main['Summary'].apply(lambda x:x.lower())

,course_id,course_name,Summary
0,14,Comprehensive Java Course,programming & frameworks this self-paced onlin...
1,23,Business Analytics with R,data science data analytics r training help ga...
2,31,Machine Learning with Mahout,artificial intelligence selfpaced 0.032301270...
3,44,Java/J2EE and SOA,programming & frameworks java certification tr...
4,46,Pentaho BI,bi and visualization selfpaced 0.032301270417...
...,...,...,...
151,1690,Microservices Architecture Training,cloud computing microservices course designed ...
152,1696,Salesforce Masters Program,cloud computing salesforce crm certification m...
153,1751,Microsoft Azure AZ 303,cloud computing azure certification training h...
154,1752,Data Science and ML Internship,data science missing internship 0.079851179673...
155,1804,Cyber Security Internship Program,cyber security missing internship 0.0798511796...

In [38]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [39]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [40]:
Final_main['Summary'] = Final_main['Summary'].apply(stem)
Final_main

<ipython-input-40-9d3e8ca146b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_main['Summary'] = Final_main['Summary'].apply(stem)

,course_id,course_name,Summary
0,14,Comprehensive Java Course,program & framework thi self-pac onlin train d...
1,23,Business Analytics with R,data scienc data analyt r train help gain expe...
2,31,Machine Learning with Mahout,artifici intellig selfpac 0.03230127041742287 ...
3,44,Java/J2EE and SOA,program & framework java certif train design m...
4,46,Pentaho BI,bi and visual selfpac 0.03230127041742287 4.0 ...
...,...,...,...
151,1690,Microservices Architecture Training,cloud comput microservic cours design help ind...
152,1696,Salesforce Masters Program,cloud comput salesforc crm certif master progr...
153,1751,Microsoft Azure AZ 303,cloud comput azur certif train help prepar new...
154,1752,Data Science and ML Internship,data scienc miss internship 0.0798511796733212...
155,1804,Cyber Security Internship Program,cyber secur miss internship 0.0798511796733212...

In [41]:
Final_main.to_csv("new_courses_data.csv",index=False)

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [43]:
vectors = cv.fit_transform(Final_main['Summary']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [44]:
cv.get_feature_names()

['00029306745934436625',
 '0006040778243628773',
 '0013995466425833',
 '0014174895482574447',
 '0014354324539315897',
 '0017823286302983904',
 '0022189393350359157',
 '0027153597253539237',
 '0028947887820953725',
 '003128046555859256',
 '0033254185182748494',
 '0034569998265519116',
 '0035526953234806843',
 '0037381053487801816',
 '003827819877150906',
 '00517951877126982',
 '005293157173872737',
 '005753691752842455',
 '006602989288085313',
 '006662798973665796',
 '006692703816456037',
 '007153238395425756',
 '007159219363983804',
 '0075300394145827974',
 '007882916559507647',
 '008247755641548593',
 '008367375012709559',
 '008660442472053925',
 '008786042811772938',
 '008857814434469518',
 '00902528155409487',
 '00919872964227827',
 '00965328325268994',
 '009802807466641148',
 '010095874925985513',
 '010819572121509358',
 '011004982146808855',
 '011782508059355132',
 '01206959455014145',
 '01231481426102143',
 '012392566852276058',
 '012434433632182395',
 '013134206953474045',
 '01385790414899789',
 '013971542551600807',
 '01402537126862324',
 '01444403906768662',
 '015837604741711874',
 '015939281207198695',
 '01654934000011962',
 '0166211116228162',
 '017889076957122437',
 '017960848579819017',
 '01814519056261343',
 '019252737788357448',
 '01993456820397495',
 '019940549172533',
 '020867513611615245',
 '021537467777531894',
 '021774954627949185',
 '02183651620543431',
 '022255184004497688',
 '02235087950142646',
 '023415491904759056',
 '023493244496013685',
 '02383415970382244',
 '024725324018971633',
 '024827000484458454',
 '024964562761293566',
 '025353325717566703',
 '025404718693284936',
 '02648970974359588',
 '027159578222097285',
 '027219600725952812',
 '0276440366752992',
 '028284000311010363',
 '02903448275862069',
 '029743356639174146',
 '03009025281554095',
 '030281643809398493',
 '030762250453720507',
 '030849364791288567',
 '03230127041742287',
 '032664246823956446',
 '033260166151306544',
 '03344557617660604',
 '034677655699563985',
 '034821198944957145',
 '034958761221792256',
 '035843944568383405',
 '03627949183303085',
 '0362940108892922',
 '036747070820648695',
 '03721358636817646',
 '03816456036890614',
 '03817054133746419',
 '03854734235662123',
 '03890620047010413',
 '040066508370365496',
 '040144260961620125',
 '04103542527676932',
 '041041406245327365',
 '04263234388176821',
 '04263832485032626',
 '04337996495152425',
 '0435535390199637',
 '0435593940082657',
 '04407375730425785',
 '048212587546427266',
 '04900181488203267',
 '05',
 '05081306715063521',
 '051262881511031894',
 '05143034863065725',
 '052782047524776166',
 '053015305298540046',
 '05442831215970962',
 '05444283121597096',
 '05454643324940041',
 '05549142628157204',
 '05551724137931034',
 '057034516169548494',
 '05740533622014749',
 '057674479805259665',
 '057698403679491854',
 '05779409917642063',
 '05805807622504537',
 '05806922373009085',
 '05971997105211218',
 '06',
 '06091018379516379',
 '06168784029038112',
 '06170235934664247',
 '06277624598527486',
 '06425354521911278',
 '06459165154264973',
 '06531760435571687',
 '06800959347356711',
 '07074887707315322',
 '07102400162682344',
 '07252904483739193',
 '07257713248638839',
 '07259165154264972',
 '07374534232073542',
 '07542599448554699',
 '07544393739122113',
 '07620689655172413',
 '07983666061705989',
 '07985117967332124',
 '08131724851522455',
 '08192132633958743',
 '08346642468239564',
 '09037749546279492',
 '09072595281306715',
 '09206504901403734',
 '0944753793429308',
 '09540242946942828',
 '0967912885662432',
 '10',
 '100',
 '10252994555353902',
 '10394325257032123',
 '104',
 '10463704492305484',
 '11205344593503472',
 '11897940752525464',
 '12',
 '12703811252268601',
 '12704174228675136',
 '13033726681698835',
 '1451869328493648',
 '14662344420055384',
 '15018212049259258',
 '1528974802179465',
 '15367500613049276',
 '16333575317604357',
 '16950064893508854',
 '17514668325388613',
 '18069702207575494',
 '18148457350272232',
 '20',
 '201',
 '2039390658923306',
 '204',
 '2054223460947266',
 '2107394271428315',
 '21606847012805253',
 '21778221415607985',
 '230990986680383',
 '23722913688642738',
 '2406024031531666',
 '2488980065431796',
 '2540798548094374',
 '2903774954627949',
 '2936117274831486',
 '300',
 '303',
 '304',
 '305',
 '32667513611615245',
 '3400180625250453',
 '36297277676951',
 '37541941542013313',
 '3923874232193163e',
 '400',
 '403',
 '450',
 '5000',
 '543956442831216',
 '6240004306297362',
 '6th',
 '7168784029038112',
 '7332727261852784',
 '7477313974591652',
 '75799805020425',
 '794290567414487e',
 '8166969147005445',
 '8437749546279492',
 '948387096774193',
 '9528130671506352',
 '980968558048291e',
 '9904842790241452e',
 'a4q',
 'abil',
 'abl',
 'access',
 'acclaim',
 'account',
 'accredit',
 'accustom',
 'achiev',
 'acquaint',
 'activ',
 'activity',
 'adm',
 'admin',
 'administr',
 'administration',
 'administrators',
 'adopt',
 'advanc',
 'affili',
 'agil',
 'ai',
 'ajax',
 'alerts',
 'algorithm',
 'algorithms',
 'align',
 'alignment',
 'allianc',
 'alloc',
 'allow',
 'amazon',
 'ambari',
 'amp',
 'analysis',
 'analyst',
 'analyt',
 'analytics',
 'analyz',
 'andus',
 'angular',
 'animations',
 'ansibl',
 'ansible',
 'anywher',
 'apach',
 'apex',
 'api',
 'apis',
 'app',
 'appeal',
 'appear',
 'appium',
 'applic',
 'applications',
 'approach',
 'appropri',
 'apps',
 'architect',
 'architectur',
 'architecture',
 'area',
 'array',
 'arrays',
 'artifici',
 'aspect',
 'aspir',
 'assign',
 'assignments',
 'assist',
 'associ',
 'associate',
 'assumption',
 'assur',
 'asynchron',
 'attacks',
 'attain',
 'attempt',
 'authent',
 'author',
 'auto',
 'autom',
 'automation',
 'avail',
 'availability',
 'available',
 'aviation',
 'aw',
 'aws',
 'az',
 'azur',
 'backend',
 'background',
 'backlog',
 'badg',
 'bandit',
 'bas',
 'base',
 'baselin',
 'basic',
 'basis',
 'bayes',
 'bayesian',
 'bdd',
 'becom',
 'beginners',
 'behavior',
 'behaviour',
 'bellman',
 'benchmark',
 'benchmarks',
 'benefitsexpand',
 'best',
 'better',
 'bi',
 'big',
 'biggest',
 'bitcoin',
 'black',
 'blockchain',
 'blocks',
 'boilerpl',
 'bootcamp',
 'bootstrap',
 'bot',
 'bots',
 'box',
 'brain4c',
 'branch',
 'build',
 'builder',
 'built',
 'busi',
 'c02',
 'capabl',
 'caption',
 'career',
 'cart',
 'cas',
 'case',
 'cases',
 'cassandra',
 'cd',
 'certif',
 'certifi',
 'certification',
 'certifications',
 'certified',
 'chaid',
 'chain',
 'chanc',
 'charts',
 'chat',
 'check',
 'chef',
 'ci',
 'cka',
 'class',
 'classes',
 'classroom',
 'clean',
 'clear',
 'cloud',
 'cloudera',
 'cluster',
 'clustering',
 'clusters',
 'cnn',
 'code',
 'collabor',
 'collaboration',
 'colors',
 'combin',
 'come',
 'commands',
 'commit',
 'commun',
 'compani',
 'compil',
 'complet',
 'complex',
 'compliance',
 'complic',
 'complimentari',
 'compon',
 'components',
 'compose',
 'comprehens',
 'comptia',
 'comput',
 'compute',
 'computing',
 'concept',
 'concepts',
 'concurrency',
 'condit',
 'configur',
 'configuration',
 'configurations',
 'conflicts',
 'connect',
 'consist',
 'constructs',
 'consult',
 'consumer',
 'contain',
 'container',
 'content',
 'continu',
 'control',
 'core',
 'cost',
 'couchbas',
 'cours',
 'course',
 'cover',
 'creat',
 'crm',
 'crt',
 'crud',
 'cryptography',
 'cspo',
 'css',
 'css3',
 'cucumber',
 'curat',
 'current',
 'curriculum',
 'custom',
 'cutting',
 'cyber',
 'cybersecur',
 'cycle',
 'dashboard',
 'dashboards',
 'data',
 'databas',
 'database',
 'databases',
 'databinding',
 'dax',
 'day',
 'dca',
 'ddl',
 'deal',
 'debug',
 'debugging',
 'decad',
 'decis',
 'decision',
 'decoration',
 'deep',
 'defect',
 'defend',
 'defin',
 'definit',
 'delight',
 'deliveri',
 'delivery',
 'demands',
 'demonstr',
 'demonstration',
 'demonstrations',
 'depend',
 'deploy',
 'deployment',
 'depth',
 'descript',
 'design',
 'designing',
 'desir',
 'desktop',
 'detection',
 'determin',
 'dev',
 'develop',
 'development',
 'devop',
 'devops',
 'di',
 'dialog',
 'differ',
 'difficulti',
 'digit',
 'diploma',
 'direct',
 'directed',
 'directory',
 'display',
 'distribut',
 'dive',
 'dml',
 'docker',
 'dockerizing',
 'document',
 'domain',
 'domains',
 'dos',
 'drive',
 'driven',
 'dw',
 'dynam',
 'dynamic',
 'earn',
 'easi',
 'easier',
 'ecommerce',
 'ecosystem',
 'edg',
 'edit',
 'educ',
 'effect',
 'effects',
 'effici',
 'element',
 'elements',
 'email',
 'emin',
 'emot',
 'enabl',
 'end',
 'engin',
 'enhanc',
 'enrol',
 'ensur',
 'enterpris',
 'entertainment',
 'entir',
 'entri',
 'environment',
 'equation',
 'equip',
 'error',
 'erwin',
 'essenti',
 'essentials',
 'establish',
 'ethereum',
 'ethic',
 'etl',
 'event',
 'eventing',
 'exam',
 'exams',
 'excel',
 'exceptions',
 'excit',
 'exclus',
 'exercis',
 'experi',
 'experienc',
 'experience',
 'expert',
 'expertis',
 'experts',
 'exploratori',
 'express',
 'expressions',
 'extens',
 'familiar',
 'fetch',
 'field',
 'fields',
 'file',
 'finally',
 'financ',
 'flagship',
 'flexibl',
 'flow',
 'focus',
 'font',
 'forest',
 'form',
 'forms',
 'foundat',
 'framework',
 'free',
 'frontend',
 'fulli',
 'function',
 'functions',
 'fundament',
 'fundamentals',
 'furthermore',
 'ga',
 'gain',
 'gateway',
 'gcp',
 'gender',
 'gener',
 'geograph',
 'gherkin',
 'gini',
 'git',
 'github',
 'given',
 'global',
 'globe',
 'googl',
 'govern',
 'grad',
 'gradient',
 'graduat',
 'grafana',
 'graphic',
 'graphql',
 'greatest',
 'grid',
 'group',
 'guess',
 'gui',
 'guid',
 'hacker',
 'hacking',
 'hadoop',
 'handl',
 'hands',
 'handy',
 'hdfs',
 'headings',
 'healthcare',
 'heart',
 'help',
 'hex',
 'hibern',
 'hibernate',
 'high',
 'highli',
 'highlight',
 'hijacking',
 'hive',
 'horizont',
 'hours',
 'hr',
 'html',
 'html5',
 'http',
 'hybrid',
 'hyperledg',
 'id3',
 'idam',
 'ide',
 'ideal',
 'ident',
 'identifi',
 'iframes',
 'imag',
 'images',
 'immers',
 'immersive',
 'implement',
 'implementation',
 'import',
 'impress',
 'improv',
 'incidents',
 'includ',
 'index',
 'indispens',
 'industri',
 'industry',
 'infer',
 'informatica',
 'infrastructur',
 'infrastructure',
 'ingest',
 'initi',
 'inject',
 'injection',
 'insight',
 'installation',
 'instruct',
 'instructor',
 'instructors',
 'integr',
 'integration',
 'intellig',
 'intelligence',
 'interact',
 'interfac',
 'internship',
 'introduc',
 'intrus',
 'io',
 'iteration',
 'iterators',
 'itil',
 'itil4',
 'j2ee',
 'java',
 'javascript',
 'jenkin',
 'jenkins',
 'jest',
 'jmeter',
 'job',
 'joins',
 'joomla',
 'jqueri',
 'jquery',
 'jsx',
 'just',
 'jwt',
 'kafka',
 'key',
 'keyword',
 'kind',
 'know',
 'knowledg',
 'knowledgelearn',
 'kubernet',
 'kubernetes',
 'lab',
 'landscape',
 'languag',
 'language',
 'larg',
 'latenc',
 'latest',
 'latin',
 'layouts',
 'lead',
 'leadership',
 'learn',
 'learner',
 'learning',
 'led',
 'level',
 'levels',
 'librari',
 'library',
 'lif',
 'life',
 'lifecycl',
 'like',
 'links',
 'linux',
 'live',
 'load',
 'loaders',
 'loading',
 'lod',
 'look',
 'loop',
 'lstm',
 'machin',
 'machines',
 'macro',
 'maintain',
 'mak',
 'make',
 'malwar',
 'manag',
 'management',
 'manipul',
 'manipulation',
 'manual',
 'mapreduc',
 'mapreduce',
 'maps',
 'market',
 'marketing',
 'markov',
 'master',
 'masters',
 'match',
 'matplotlib',
 'matter',
 'maven',
 'mcqs',
 'media',
 'meet',
 'memori',
 'merg',
 'merging',
 'messag',
 'methodolog',
 'methodologies',
 'methodology',
 'methods',
 'microservic',
 'microsoft',
 'middleware',
 'migrat',
 'mind',
 'mining',
 'miss',
 'mitigation',
 'ml',
 'mllib',
 'mobil',
 'mobile',
 'modal',
 'model',
 'modeling',
 'modelling',
 'models',
 'modul',
 'modules',
 'mongodb',
 'monitor',
 'monitoring',
 'month',
 'movement',
 'multi',
 'multichain',
 'multidimension',
 'multipl',
 'nagios',
 'nativ',
 'native',
 'natur',
 'nave',
 'necessari',
 'need',
 'needs',
 'net',
 'network',
 'networks',
 'new',
 'nginx',
 'nit',
 'nlp',
 'node',
 'nosql',
 'numer',
 'numpy',
 'object',
 'objects',
 'offer',
 'offici',
 'offlin',
 'oil',
 'old',
 'onlin',
 'online',
 'oops',
 'open',
 'oper',
 'operations',
 'operators',
 'opportun',
 'optim',
 'optimization',
 'option',
 'options',
 'orchestr',
 'organ',
 'organization',
 'ori',
 'origin',
 'outcom',
 'outline',
 'overal',
 'overview',
 'owner',
 'paa',
 'pac',
 'packag',
 'page',
 'pandas',
 'paragraphs',
 'parameters',
 'partner',
 'partnership',
 'pattern',
 'patterns',
 'pcap',
 'pcep',
 'pcpp',
 'peers',
 'percept',
 'perform',
 'perl',
 'pg',
 'pgp',
 'phase',
 'phishers',
 'physic',
 'pig',
 'pipelin',
 'pipeline',
 'pipes',
 'pl',
 'place',
 'plan',
 'planning',
 'platform',
 'playbooks',
 'plu',
 'plugin',
 'plugins',
 'pmbok',
 'pmi',
 'pmp',
 'pod',
 'pointer',
 'polici',
 'popular',
 'post',
 'power',
 'practic',
 'practical',
 'practicesdemonstr',
 'practition',
 'pre',
 'predict',
 'prefer',
 'premier',
 'premis',
 'prep',
 'prepar',
 'prerequisit',
 'prescrib',
 'prince2',
 'principl',
 'principles',
 'privileges',
 'probabilist',
 'problem',
 'process',
 'processes',
 'processing',
 'producer',
 'product',
 'profession',
 'professional',
 'professionals',
 'profici',
 'program',
 'programmat',
 'programming',
 'project',
 'projects',
 'prometheus',
 'propel',
 'protect',
 'protocol',
 'provid',
 'prune',
 'psm',
 'publish',
 'puppet',
 'purdu',
 'purposes',
 'pursu',
 'pyspark',
 'python',
 'quantit',
 'queri',
 'rails',
 'random',
 'rang',
 'ranorex',
 'rat',
 'rbm',
 'rcnn',
 'rdbm',
 'rdd',
 'react',
 'read',
 'real',
 'rebasing',
 'recommend',
 'record',
 'redux',
 'reframework',
 'regardless',
 'regress',
 'regression',
 'reinforc',
 'relat',
 'reliabl',
 'remark',
 'replac',
 'report',
 'reporting',
 'reports',
 ...]

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [46]:
similarity

array([[1.        , 0.06289709, 0.07559289, ..., 0.11230589, 0.        ,
        0.        ],
       [0.06289709, 1.        , 0.        , ..., 0.14127427, 0.32816506,
        0.        ],
       [0.07559289, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.11230589, 0.14127427, 0.        , ..., 1.        , 0.0358748 ,
        0.        ],
       [0.        , 0.32816506, 0.        , ..., 0.0358748 , 1.        ,
        0.46291005],
       [0.        , 0.        , 0.        , ..., 0.        , 0.46291005,
        1.        ]])

In [47]:
similarity.shape

(156, 156)

In [48]:
def recommend(course,similarity = similarity):
    idx = indices[course]
    sim_scores = list(enumerate(similarity[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    course_indices = [i[0] for i in sim_scores]
    recommended = Final_main['course_name'].iloc[course_indices]
    print("Top 5 Recommended Courses are:\n {}".format(recommended), end = ' ')
    print("\n With Similarity Scores:\n {}".format(sim_scores))

In [49]:
recommend('DevOps')

Top 5 Recommended Courses are:
 52           DevOps Engineer Masters Program
130                               PGP DevOps
114          Microsoft Azure DevOps Solution
77     Continuous Testing in DevOps Training
74                                AWS DevOps
Name: course_name, dtype: object
 With Similarity Scores:
 [(52, 0.4854990900003671), (130, 0.43551638661232533), (114, 0.3940062612820494), (77, 0.3651483716701107), (74, 0.3077287274483318)]

In [50]:
course = input('Enter the Course Name : ')
recommend(course)

Enter the Course Name : Continuous Testing in DevOps Training
Top 5 Recommended Courses are:
 81        Automation Engineer Masters Program
76     Software Testing Fundamentals Training
78                  Mobile Automation Testing
80           Performance Testing Using JMeter
127                                    DevOps
Name: course_name, dtype: object
 With Similarity Scores:
 [(81, 0.5157367029590281), (76, 0.4824181513244218), (78, 0.42211588240886905), (80, 0.37674325988790797), (127, 0.3651483716701107)]

In [73]:
import pickle

pickle.dump(Final_main.to_dict(), open('course_dict.pkl','wb'))

In [74]:
pickle.dump(similarity,open('similarity.pkl','wb'))